body{
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

#mapid { 
    position: absolute;
    height: 100vh; 
    width: 100vw;
    z-index: -1;
}

#overlay{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    grid-template-rows: 1fr 8vh 4fr 1fr;
    grid-template-areas: 
    ". . ."
    ". form ."
    ". endgame ."
    ". . .";
}

#endgame{
    visibility: hidden;
    grid-area: endgame;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-self: center;
    align-self: center;
    font-size: 12vh;
    font-weight: 900;
    user-select: none;
    text-shadow: 0px 0px 7px #ffffff;
    line-height: 0%;
    text-align: center;

}

#newGame{
    background-color: #5FC262;
    color: #182e18;
    border: none;
    font-size:6vh;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 4vh;
}

#newGame:focus{
    background-color: #5FC262;
    color: #d6f7d7;
    box-shadow: 1px 0px 14px 3px  rgba(29, 29, 29, 0.381);
    outline: none;
}

#form{
    display: flex;
    grid-area: form;
    z-index: 1;
}

#submit{
    background-color: #235FA4;
    color: #021b36;
    height: 100%;
    width: 15%;
    border: none;
    font-size:6vh;
    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;
}

#submit:focus{
    background-color: #235FA4;
    color: #c9def5;
    box-shadow: 1px 0px 14px 3px  rgba(29, 29, 29, 0.381);
    outline: none;
}

#stateinput{
    text-align: center;
    width: 85%;
    height: 100%;
    border: none;
    background-color: rgba(20,20,20,0.12);
    font-size: xx-large;
    padding: 0px;
    border-bottom-left-radius: 4vh;
    border-top-left-radius: 4vh;
}

#stateinput:focus {
    background-color: rgba(30,30,30,0.00);
    box-shadow: -1px 0px 14px 3px  rgba(29, 29, 29, 0.381);
    outline: none;
}


@media (orientation: portrait){
    #overlay{
        grid-template-columns: 1fr 80vw 1fr;
    }
}